@page
@model UserManagemnt.Pages.Admin.Persons.DetailModel
@{
}

<div class="form-content">
    <div class="inner-form">

        <h1><i class="far fa-plus-square"></i> Detail: Person</h1>
        <hr />

    <partial name="_Notification">

    @if(Model.person != null)
    {
          <div class="row">
            <div class="col-md-6">
                <dl class="inner-form-row mt-4 ml-2">
                    <dt class="col-sm-4">
                        First Name
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.person.FirstName)
                    </dd>
                    <dt class="col-sm-4">
                        Last Name
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.person.LastName)
                    </dd>
                    <dt class="col-sm-4">
                        Mobile
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-4">
                        Email
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        SSN
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.person.SSN)
                    </dd>
                    <dt class="col-sm-4">
                        Date of Birth
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.person.DOB)
                    </dd>
                    <dt class="col-sm-4">
                        Address
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Address)
                    </dd>

                    
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="inner-form-row mt-4 ml-2">
                    <div class="col-sm-2">
                        @if (Model.person.ProfileImageUrl != null)
                        {
                            
                            <img src="@Model.person.ProfileImageUrl" id="profileImageDisplay" style="width:320px;height:240px;"  />
                        }
                        else
                        {
                            
                            <img src="" id="profileImageDisplay" style="display:none; width:200px;height:auto;"  />
                        }
                    </div>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-3 mt-4">
                <div class="form-group float-lg-right">
                    <a asp-page="Add" class="button button-primary"><span><i class="far fa-plus-square"></i> Create New</span></a> |
                    <a asp-page="Edit" asp-route-id="@Model.person.Id" class="button button-warning"><span><i class="fas fa-edit"></i> Edit</span></a> |
                    <a asp-page="List" class="button button-info"><i class="fas fa-chevron-circle-left"></i> Back to List</a>
                </div>
            </div>
        </div>


          

    }
    else
    {
        <div class="container">
            <p>Person Not Found!</p>
        </div>
    }
    </div>
</div>
    

