@page
@model UserManagemnt.Pages.Admin.Persons.ListModel
@{
}

<div class="form-content">
        <div class="inner-form">

            <h1><i class="far fa-list-alt"></i> Persons</h1>
            <hr />
            <p><a class="table-btn-create" asp-page="Add"><i class="far fa-plus-square"></i> Create New </a> </p>

            <partial name="_Notification">


            @if (Model.PersonList != null && Model.PersonList.Any())
            {
                <div class="row">
                    <div class="col-md-8">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        SSN
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PersonList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber.Number)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmailAddress.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SSN)
                                        </td>
                                        <td>
                                            <a class="table-btn-edit" asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a> |
                                            <a class="table-btn-edit" onclick="loadDetails('@item.Id')"><i class="fas fa-minus-square"></i> Details</a> 
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                       <div id="form1"  style="display:none; border-left: 4px groove;">
                           
                             <div id="perDetails">
                                
                                     <div class="row">
                                        <div class="col-sm-8">
                                            <h6><i class="far fa-user"></i> Person Details</h6>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" id="closeButton" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                     </div>
                                     
                                   <dl class="inner-form-row">
                                       
                                       <dt class="col-sm-4">
                                          Profile Picture
                                       </dt>
                                       <dd class="col-sm-6" >
                                           <img src="" id="profileImageDisplay" style="width:200px;height:auto;"  />
                                       </dd>
                                       <dt class="col-sm-4">
                                           First Name
                                       </dt>
                                       <dd class="col-sm-6" >
                                       </dd>
                                       <dt class="col-sm-4">
                                           Last Name
                                       </dt>
                                       <dd class="col-sm-6" >
                                       </dd>
                                       <dt class="col-sm-4">
                                           Phone number
                                       </dt>
                                       <dd class="col-sm-6" >
                                       </dd>
                                       <dt class="col-sm-4">
                                           Email 
                                       </dt>
                                       <dd class="col-sm-6" >
                                       </dd>
                                       <dt class="col-sm-4">
                                           SSN 
                                       </dt>
                                       <dd class="col-sm-6" >
                                       </dd>
                                       <dt class="col-sm-4">
                                           DOB 
                                       </dt>
                                       <dd class="col-sm-6" >
                                       </dd>
                                       <dt class="col-sm-4">
                                           Address 
                                       </dt>
                                       <dd class="col-sm-6" >
                                       </dd>
                                       
                                   </dl>

                             </div>
                           
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="container">
                    <p>No person were found!</p>
                </div>
            }
        </div>
</div>



        
        

@section Scripts {

    <script type="text/javascript">

        const profileImageDisplay = document.getElementById('profileImageDisplay');

        function loadDetails(Id) {
            $.ajax({
                type: 'GET',
                
                url: "@Url.Page("List/")?handler=PersonDetail",
                contentType: "application/json",
                data: { id: Id },
                success: function(response) {
                    console.log(response);

                    $('#perDetails').find('dd:eq(1)').text(response.firstName)
                    $('#perDetails').find('dd:eq(2)').text(response.lastName)
                    $('#perDetails').find('dd:eq(3)').text(response.phoneNumber.number)
                    $('#perDetails').find('dd:eq(4)').text(response.emailAddress.name)
                    $('#perDetails').find('dd:eq(5)').text(response.ssn)
                    $('#perDetails').find('dd:eq(6)').text(response.dob)
                    $('#perDetails').find('dd:eq(7)').text(response.address.name)
                    profileImageDisplay.src = response.profileImageUrl;
                     
                    document.getElementById('form1').style.display = '';
                },
                error: function(data) {
                    alert("Cannot Load data" + data);
                },
            });
        }

        //close Details section
        $("#closeButton").click(function(){
            $("#form1").toggle();
        });


    </script>
}
